#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

nice_view_spi: &spi0 { cs-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>; };

/ {
    behaviors {
        lalt_lctrl: lalt_lctrl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LALT>, <&kp LCTRL>;
        };

        rctrl_ralt: rctrl_ralt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp RCTRL>, <&kp RALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp GRAVE      &kp N1  &kp N2  &kp N3    &kp N4       &kp N5                                &kp N6     &kp N7       &kp N8     &kp N9   &kp N0    &kp MINUS
&kp EQUAL      &kp Q   &kp W   &kp E     &kp R        &kp T                                 &kp Y      &kp U        &kp I      &kp O    &kp P     &kp LEFT_BRACKET
&kp BACKSLASH  &kp A   &kp S   &kp D     &kp F        &kp G                                 &kp H      &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp ESC        &kp Z   &kp X   &kp C     &kp V        &kp B       &kp BACKSPACE  &kp CAPS   &kp N      &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_BRACKET
                               &kp LGUI  &lalt_lctrl  &kp LSHIFT  &kp TAB        &kp ENTER  &kp SPACE  &rctrl_ralt  &mo 1
            >;
        };

        layer_1 {
            bindings = <
&soft_off        &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI  &bootloader                       &bootloader     &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &out OUT_TOG
&rgb_ug RGB_TOG  &kp C_PREV       &kp C_PLAY       &kp C_STOP       &kp C_NEXT       &kp C_MUTE                        &kp C_BRI_AUTO  &kp F1           &kp F2           &kp F3           &kp F4           &bt BT_CLR
&rgb_ug RGB_BRI  &kp LEFT         &kp UP           &kp DOWN         &kp RIGHT        &kp C_VOL_UP                      &kp C_BRI_UP    &kp F5           &kp F6           &kp F7           &kp F8           &bt BT_NXT
&rgb_ug RGB_BRD  &kp HOME         &kp PG_UP        &kp PG_DN        &kp END          &kp C_VOL_DN  &kp DEL  &kp PSCRN  &kp C_BRI_DN    &kp F9           &kp F10          &kp F11          &kp F12          &bt BT_PRV
                                                   &trans           &trans           &trans        &trans   &trans     &trans          &trans           &trans
            >;
        };
    };
};
